CONFIG_IDF_TARGET="esp32c6"
CONFIG_PM_POWER_DOWN_PERIPHERAL_IN_LIGHT_SLEEP=n

CONFIG_EXAMPLE_GPIO_CONTROL_NUM=6
CONFIG_EXAMPLE_USE_PULSE_CONTROL=n
CONFIG_EXAMPLE_GPIO_CONTROL_HIGH_LEVEL=n
CONFIG_EXAMPLE_USE_INTERNAL_PU_PD=y

CONFIG_EXAMPLE_UART_NUM=0
CONFIG_EXAMPLE_UART_TX_IO_NUM=16
CONFIG_EXAMPLE_UART_RX_IO_NUM=17
CONFIG_EXAMPLE_UART_CTS_IO_NUM=-1
CONFIG_EXAMPLE_UART_RTS_IO_NUM=-1
CONFIG_EXAMPLE_UART_WAKEUP_THRESHOLD=3
CONFIG_EXAMPLE_SLEEP_TIMEOUT_US=8000000

CONFIG_EXAMPLE_PM_MAX_FREQ_MHZ=160
CONFIG_EXAMPLE_PM_MIN_FREQ_MHZ=40
