CONFIG_IDF_TARGET="esp32s3"

CONFIG_EXAMPLE_GPIO_CONTROL_NUM=6
CONFIG_EXAMPLE_USE_PULSE_CONTROL=n
CONFIG_EXAMPLE_GPIO_CONTROL_HIGH_LEVEL=n

CONFIG_EXAMPLE_UART_TX_IO_NUM=43
CONFIG_EXAMPLE_UART_RX_IO_NUM=44
CONFIG_EXAMPLE_UART_CTS_IO_NUM=16
CONFIG_EXAMPLE_UART_RTS_IO_NUM=15

CONFIG_EXAMPLE_PM_MAX_FREQ_MHZ=240
CONFIG_EXAMPLE_PM_MIN_FREQ_MHZ=40
